<img src="img/ajax-loader.gif" alt="" id="loader" ng-if="event == null" />
<div id="wrapper" ng-show="event != null">
    <h1 class="page-header">{{::event.title}}</h1>
    <p>Georganiseerd door {{::event.organizer.name}} ({{::event.status}})</p>

    <div class="btn-group btn-group-justified" style="margin-bottom: 20px">
        <a role="button" class="btn" ng-class="activeFlightTabIndex == 0 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 0">Heen</a>
        <a role="button" class="btn" ng-class="activeFlightTabIndex == 1 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 1">Terug</a>
    </div>

    <div ng-if="activeFlightTabIndex == 0">
        <div class="list-group">
            <div class="panel panel-default" ng-repeat="(key, value) in ::event.outboundFlightSearch.flights | groupBy: 'departureDate'">
                <div class="panel-heading">{{ key | date : 'EEE dd-MMM' }}</div>
                <div class="panel-body" style="padding: 0">
                    <table id="outboundflights-table" class="table table-condensed">
                        <tbody>
                            <tr ng-repeat="flight in value">
                                <td class="animated">
                                    <div>
                                        <div style="float:right;margin-bottom:4px">
                                            <button type="button" class="btn btn-lg btn-success">Ja</button>
                                            <button type="button" class="btn btn-lg btn-warning">?</button>
                                            <button type="button" class="btn btn-lg btn-danger">Nee</button>
                                        </div>
                                        <div style="float:left"><h4>{{flight.std | date : 'hh:mm'}}   {{flight.price}} EUR</h4></div>
                                    </div>
                                    <textarea class="form-control" name="comment" rows="4" placeholder="Opmerking" style="width: 100%"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="activeFlightTabIndex == 1">
        <div class="list-group">
            <div class="panel panel-default" ng-repeat="(key, value) in ::event.inboundFlightSearch.flights | groupBy: 'departureDate'">
                <div class="panel-heading">{{ key | date : 'EEE dd-MMM' }}</div>
                <div class="panel-body" style="padding: 0">
                    <table id="Table1" class="table table-condensed">
                        <tbody>
                            <tr ng-repeat="flight in value">
                                <td class="animated">
                                    <div>
                                        <div style="float:right;margin-bottom:4px">
                                            <button type="button" class="btn btn-lg btn-success">Ja</button>
                                            <button type="button" class="btn btn-lg btn-warning">?</button>
                                            <button type="button" class="btn btn-lg btn-danger">Nee</button>
                                        </div>
                                        <div style="float:left"><h4>{{flight.std | date : 'hh:mm'}}   {{flight.price}} EUR</h4></div>
                                    </div>
                                    <textarea class="form-control" name="comment" rows="4" placeholder="Opmerking" style="width: 100%"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
