<img src="img/ajax-loader.gif" alt="" id="loader" ng-if="event == null && errorMessage.length == 0" />
<div class="alert alert-success ontop" role="alert" ng-if="infoMessage.length > 0">{{infoMessage}}</div>
<!--<div class="alert alert-danger alert-dismissible" role="alert" ng-if="errorMessage.length > 0">{{errorMessage}}</div>-->
<div id="wrapper" ng-show="event != null">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home" title="Home"></span></a></li>
        <li><a href="{{eventUrl}}">Afspraak</a></li>
        <li class="active">Beschikbaarheid wijzigen</li>
    </ol>
    <h1 class="page-header">{{::event.title}}</h1>
    <p style="margin-bottom: 20px">Georganiseerd door {{::event.organizer.name}} ({{::event.status}})</p>

    <div class="btn-group btn-group-justified" style="margin-bottom: 20px">
        <a role="button" class="btn" ng-class="activeFlightTabIndex == 0 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 0">Heen</a>
        <a role="button" class="btn" ng-class="activeFlightTabIndex == 1 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 1">Terug</a>
    </div>

    <div ng-if="activeFlightTabIndex == 0">
        <div class="list-group">
            <div class="panel panel-default" ng-repeat="(key, value) in ::event.outboundFlightSearch.flights | groupBy: 'departureDate'">
                <div class="panel-heading">{{ key | date : 'EEE dd-MMM' }}</div>
                <div class="panel-body" style="padding: 0">
                    <table id="outboundflights-table" class="table table-condensed">
                        <tbody>
                            <tr ng-repeat="flight in value" ng-controller="AvailabilityItemCtrl">
                                <td class="animated">
                                    <div class="row">
                                        <div class="btn-toolbar" role="toolbar" style="float: right; margin-bottom: 4px">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-lg btn-default" ng-click="toggleComment(flight)" title="Opmerking toevoegen">
                                                    <span class="glyphicon glyphicon-comment"></span>
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-lg" ng-class="flight.availabilities[0].value === 100 ? 'btn-success' : 'btn-default'" ng-click="flight.availabilities[0].value = 100">Ja</button>
                                                <button type="button" class="btn btn-lg" ng-class="flight.availabilities[0].value === 50 ? 'btn-warning' : 'btn-default'" ng-click="flight.availabilities[0].value = 50">Liever niet</button>
                                                <button type="button" class="btn btn-lg" ng-class="flight.availabilities[0].value === 0 ? 'btn-danger' : 'btn-default'" ng-click="flight.availabilities[0].value = 0">Nee</button>
                                            </div>
                                        </div>
                                        <div style="float: left">
                                            <span class="flighttime" style="padding: 8px; border-top: 0;">{{flight.std | date : 'HH:mm'}}</span>
                                            <span class="badge" style="line-height: 18px; margin-left: 20px">{{flight.price}} EUR</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <textarea class="form-control" name="comment" rows="4" ng-model="flight.availabilities[0].commentText" ng-show="flight.isCommentExpanded === true" placeholder="Opmerking" style="width: 100%" onkeypress="if (this.value.length > 100) { return false; }"></textarea>
                                        <p class="comment" ng-show="!flight.isCommentExpanded && flight.availabilities[0].commentText != ''" style="padding-left: 8px">{{flight.availabilities[0].commentText}}</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="activeFlightTabIndex == 1">
        <div class="list-group">
            <div class="panel panel-default" ng-repeat="(key, value) in ::event.inboundFlightSearch.flights | groupBy: 'departureDate'">
                <div class="panel-heading">{{ key | date : 'EEE dd-MMM' }}</div>
                <div class="panel-body" style="padding: 0">
                    <table id="Table1" class="table table-condensed">
                        <tbody>
                            <tr ng-repeat="flight in value" ng-controller="AvailabilityItemCtrl">
                                <td class="animated">
                                    <div class="row">
                                        <div class="btn-toolbar" role="toolbar" style="float: right; margin-bottom: 4px">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-lg btn-default" ng-click="toggleComment(flight)" title="Opmerking toevoegen">
                                                    <span class="glyphicon glyphicon-comment"></span>
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-lg" ng-class="flight.availabilities[0].value === 100 ? 'btn-success' : 'btn-default'" ng-click="flight.availabilities[0].value = 100">Ja</button>
                                                <button type="button" class="btn btn-lg" ng-class="flight.availabilities[0].value === 50 ? 'btn-warning' : 'btn-default'" ng-click="flight.availabilities[0].value = 50">Liever niet</button>
                                                <button type="button" class="btn btn-lg" ng-class="flight.availabilities[0].value === 0 ? 'btn-danger' : 'btn-default'" ng-click="flight.availabilities[0].value = 0">Nee</button>
                                            </div>
                                        </div>
                                        <div style="float: left">
                                            <span class="flighttime" style="padding: 8px; border-top: 0;">{{flight.std | date : 'HH:mm'}}</span>
                                            <span class="badge" style="line-height: 18px; margin-left: 20px">{{flight.price}} EUR</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <textarea class="form-control" name="comment" rows="4" ng-model="flight.availabilities[0].commentText" ng-show="flight.isCommentExpanded === true" placeholder="Opmerking" style="width: 100%"></textarea>
                                        <span class="help-block" ng-show="!flight.isCommentExpanded && flight.availabilities[0].commentText != ''">{{flight.availabilities[0].commentText}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
