<div ng-if="event == null">
    <p class="help-block">Afspraak wordt ingeladen...</p>
    <img src="img/ajax-loader.gif" alt="" />
</div>
<div id="wrapper" ng-show="event != null">
    <h1 class="page-header">{{::event.title}}</h1>
    <div ng-if="!event.isConfirmed">
        <h4>Controleer uw mailbox</h4>
        <p>Er is een email gestuurd naar {{::event.organizer.email}}.</p>
        <p>Klik op de link in de e-mail om de afspraak te bevestigen en de uitnodigingen te versturen.</p>
        <p style="font-style: italic; margin-top: 10px">Geen email ontvangen? Controleer het e-mailadres en uw mailbox op ongewenste e-mail (spam)</p>
        <button type="button" class="btn btn-lg btn-primary" style="width: 100%" ng-click="ConfirmEvent()" ng-disabled="isConfirming">Afspraak is bevestigd</button>
    </div>
    <div ng-if="event.isConfirmed">
        <p style="margin-bottom: 20px">Georganiseerd door {{::event.organizer.name}} ({{::event.status}})</p>

        <div class="panel panel-primary" style="margin-bottom: 0">
            <div class="panel-heading" ng-click="isActionsExpanded = !isActionsExpanded" style="cursor: pointer">
                <span ng-class="isActionsExpanded === true ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-up'" style="margin-right: 4px"></span>Acties
            </div>
            <div class="panel-body" ng-show="isActionsExpanded">
                <a href="{{::availabilityUrl}}/{{::event.organizer.id}}"><span class="glyphicon glyphicon-ok" style="margin-right: 4px"></span>Beschikbaarheid invullen</a>
            </div>
        </div>

        <div class="panel panel-primary" ng-show="unconfirmedParticipants().length > 0" style="margin-top: 2px; margin-bottom: 0">
            <div class="panel-heading" ng-click="isReminderSectionExpanded = !isReminderSectionExpanded" style="cursor: pointer">
                <span ng-class="isReminderSectionExpanded === true ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-up'" style="margin-right: 4px"></span>Nog niet gereageerd ({{unconfirmedParticipants().length}})
            </div>
            <div class="panel-body" ng-show="isReminderSectionExpanded">
                <table id="Table4" class="table table-condensed table-hover">
                    <tbody>
                        <tr ng-repeat="participant in unconfirmedParticipants()">
                            <td style="border-top: 0"><a href="{{::availabilityUrl}}/{{::participant.personId}}">{{::participant.name}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="btn-group btn-group-justified" style="margin-top: 20px; margin-bottom: 20px">
            <a role="button" class="btn" ng-class="activeFlightTabIndex == 0 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 0">Heen</a>
            <a role="button" class="btn" ng-class="activeFlightTabIndex == 1 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 1">Terug</a>
        </div>

        <div ng-if="activeFlightTabIndex == 0">
            <div class="list-group">
                <div class="panel panel-default" ng-repeat="(key, value) in ::event.outboundFlightSearch.flights | groupBy: 'departureDate'">
                    <div class="panel-heading">{{ key | date : 'EEE dd-MMM' }}</div>
                    <div class="panel-body" style="padding: 0">
                        <table id="outboundflights-table" class="table table-condensed">
                            <tbody>
                                <tr ng-repeat="flight in value">
                                    <td>
                                        <table class="table">
                                            <tr>
                                                <td style="padding-right: 20px; border-top: 0;">
                                                    <span class="flighttime">{{flight.std | date : 'hh:mm'}}</span>
                                                </td>
                                                <td style="padding-right: 30px; border-top: 0;">
                                                    <span class="badge" style="line-height: 18px; margin-left: 5px">{{flight.price}} EUR</span>
                                                </td>
                                                <td style="width: 100%; padding-top: 10px; border-top: 0;">
                                                    <div class="progress" style="width: 100%">
                                                        <div class="progress-bar" ng-class="flight.availabilityPercentage == 100 ? 'progress-bar-success' : flight.availabilityPercentage < 50 ? 'progress-bar-danger' : flight.availabilityPercentage < 75 ? 'progress-bar-warning' : 'progress-bar-info'" role="progressbar" aria-valuenow="{{flight.availabilityPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{flight.availabilityPercentage}}%;">
                                                            {{flight.availabilityPercentage}}%
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table id="Table2" class="table">
                                            <tbody>
                                                <tr ng-repeat="(key, value) in flight.availabilities | groupBy: 'value'">
                                                    <td style="width: 50px; border-top: 0">
                                                        <span class="glyphicon" ng-class="{'glyphicon-ok': key == 100, 'glyphicon-remove': key == 0, 'glyphicon-question-sign': key == 50}" style="font-size: 24px; color: gray"></span>
                                                    </td>
                                                    <td style="border-top: 0; vertical-align: middle">
                                                        <span ng-repeat="availability in value" style="margin-right: 20px">
                                                            <a href="{{::availabilityUrl}}/{{::availability.personId}}">{{::availability.name}}</a><span ng-show="availability.commentText != null" style="margin-left:5px">({{::availability.commentText}})</span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="activeFlightTabIndex == 1">
            <div class="list-group">
                <div class="panel panel-default" ng-repeat="(key, value) in ::event.inboundFlightSearch.flights | groupBy: 'departureDate'">
                    <div class="panel-heading">{{ key | date : 'EEE dd-MMM' }}</div>
                    <div class="panel-body" style="padding: 0">
                        <table id="Table1" class="table table-condensed">
                            <tbody>
                                <tr ng-repeat="flight in value">
                                    <td>
                                        <div style="padding: 5px; margin-bottom: 5px">
                                            <span class="flighttime">{{flight.std | date : 'hh:mm'}}</span>
                                            <span class="badge" style="line-height: 18px; margin-left: 5px">{{flight.price}} EUR</span>
                                        </div>

                                        <div class="progress">
                                            <div class="progress-bar" ng-class="flight.availabilityPercentage == 100 ? 'progress-bar-success' : flight.availabilityPercentage < 50 ? 'progress-bar-danger' : flight.availabilityPercentage < 75 ? 'progress-bar-warning' : 'progress-bar-info'" role="progressbar" aria-valuenow="{{flight.availabilityPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{flight.availabilityPercentage}}%;">
                                                {{flight.availabilityPercentage}}%
                                            </div>
                                        </div>

                                        <table id="Table3" class="table table-condensed">
                                            <tbody>
                                                <tr ng-repeat="availability in flight.availabilities">
                                                    <td><a href="{{::availabilityUrl}}/{{::availability.personId}}">{{::availability.name}}</a>
                                                    : {{::availability.value}}<td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
