<loader ng-if="event == null">
    Afspraak wordt ingeladen...
</loader>
<div ng-show="event != null">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home" title="Home"></span></a></li>
        <li class="active">Afspraak</li>
    </ol>
    <h1 class="page-header">{{::event.title}}</h1>

    <ng-include src="'partials/eventNotConfirmed.html'"></ng-include>
    <div ng-if="event.isConfirmed">
        <event-sub-title event="event"></event-sub-title>
        <event-actions event="event"></event-actions>
        <event-unconfirmed-participants event="event"></event-unconfirmed-participants>

        <loader ng-if="isRefreshingFlights == true">
            Vluchtprijzen worden opnieuw opgehaald...
        </loader>

        <div class="list-group-item list-group-item-danger" ng-if="areSelectedFlightsInvalid()">
            De geprikte terugvlucht ligt voor de geprikte heenvlucht. Deze combinatie kunt u niet boeken.
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-6 leftcol">
                <h4>Heen vlucht ({{event.outboundFlightSearch.departureStation}} - {{event.outboundFlightSearch.arrivalStation}})</h4>
                <flight-search-availability event="event" flightsearch="event.outboundFlightSearch" availabilityurl="availabilityUrl"></flight-search-availability>
            </div>
            <div class="col-md-6 rightcol">
                <h4>Terug vlucht ({{event.inboundFlightSearch.departureStation}} - {{event.inboundFlightSearch.arrivalStation}})</h4>
                <flight-search-availability event="event" flightsearch="event.inboundFlightSearch" availabilityurl="availabilityUrl"></flight-search-availability>
            </div>
        </div>
    </div>
</div>
