<img src="img/ajax-loader.gif" alt="" id="loader" ng-if="event == null" />
<div id="wrapper" ng-show="event != null">
    <h1 class="page-header">{{::event.title}}</h1>
    <div ng-if="!event.isConfirmed">
        <h4>Controleer uw mailbox</h4>
        <p>Er is een email gestuurd naar {{::event.organizer.email}}.</p>
        <p>Klik op de link in de e-mail om de afspraak te bevestigen en de uitnodigingen te versturen.</p>
        <p style="font-style: italic; margin-top: 10px">Geen email ontvangen? Controleer het e-mailadres en uw mailbox op ongewenste e-mail (spam)</p>
        <button type="button" class="btn btn-lg btn-primary" style="width: 100%" ng-click="ConfirmEvent()">Afspraak is bevestigd</button>
    </div>
    <div ng-if="event.isConfirmed">
        <p>Georganiseerd door {{::event.organizer.name}} ({{::event.status}})</p>

        <div class="btn-group btn-group-justified">
            <a role="button" class="btn" ng-class="activeFlightTabIndex == 0 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 0">Heen</a>
            <a role="button" class="btn" ng-class="activeFlightTabIndex == 1 ? 'btn-primary' : 'btn-default'" ng-click="activeFlightTabIndex = 1">Terug</a>
        </div>

        <div ng-if="activeFlightTabIndex == 0">
            <h4>Heen</h4>
            <div class="list-group">
                <div class="panel panel-default" ng-repeat="(key, value) in event.outboundFlightSearch.flights | groupBy: 'departureDate'">
                    <div class="panel-heading" style="cursor: pointer">{{ key | date : 'EEE dd-MMM' }}</div>
                    <div class="panel-body" style="padding: 0">
                        <table id="outboundflights-table" class="table table-condensed">
                            <tbody>
                                <tr ng-repeat="flight in value">
                                    <td class="animated">
                                        <h4>{{flight.carrierCode}}{{flight.flightNumber}} {{flight.price}} EUR</h4>
                                        <p>Vertrek: {{flight.std | date : 'hh:mm'}}   Aankomst: {{flight.sta | date : 'hh:mm'}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="activeFlightTabIndex == 1">
            <h4>Terug</h4>
            <div class="list-group">
                <div class="panel panel-default" ng-repeat="(key, value) in event.inboundFlightSearch.flights | groupBy: 'departureDate'">
                    <div class="panel-heading" style="cursor: pointer">{{ key | date : 'EEE dd-MMM' }}</div>
                    <div class="panel-body" style="padding: 0">
                        <table id="Table1" class="table table-condensed">
                            <tbody>
                                <tr ng-repeat="flight in value">
                                    <td class="animated">
                                        <p>{{flight.std | date : 'hh:mm'}} - {{flight.sta | date : 'hh:mm'}} {{flight.price}} EUR</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
