<!--<div style="background: black; opacity: 0.5; top: 0; bottom: 0; right: 0; left: 0; position: absolute; z-index: 1031" ng-if="isDataLoaded !== true">
    <img src="img/ajax-loader.gif" alt="" id="loader" />
</div>-->
<div id="wrapper">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home" title="Home"></span></a></li>
        <li class="active">Nieuwe afspraak</li>
    </ol>
    <h1 class="page-header">{{constants.newEventTitle}}</h1>
    <div id="content">
        <div class="btn-group btn-group-justified" style="margin-bottom: 20px" ng-show="CurrentStepIndex != 9">
            <a role="button" class="btn" ng-class="CurrentStepIndex == 1 ? 'btn-primary' : 'btn-default'" ng-click="SelectStepEvent()">Afspraak</a>
            <a role="button" class="btn" ng-class="CurrentStepIndex == 2 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() ? SelectStepParticipants() : null">Deelnemers</a>
            <a role="button" class="btn" ng-class="CurrentStepIndex == 3 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() && IsParticipantsStepValid() ? SelectStepOutbound() : null">Heen</a>
            <a role="button" class="btn" ng-class="CurrentStepIndex == 4 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() && IsParticipantsStepValid() && IsOutboundStepValid() ? SelectStepInbound() : null">Terug</a>
        </div>

        <div id="steps">
            <!--Step 1: Event-->
            <ng-include src="'partials/newEventDetails.html'" ng-show="CurrentStepIndex == 1"></ng-include>

            <!--Step 2: Participants-->
            <!--<ng-include src="'partials/newEventParticipants.html'" ng-show="CurrentStepIndex == 2"></ng-include>-->
            <div id="content_step_participants" ng-show="CurrentStepIndex == 2">
                <p class="help-block">Zul naam en email adres in en druk op Toevoegen om deelnemers toe te voegen.</p>
                <form ng-submit="AddParticipant()" name="participantsForm" novalidate>
                    <input ng-model="newParticipantName" focus-on="focusParticipantName" type="text" name="participant_name" id="participant_name" maxlength="50" autocomplete="off" class="form-control" placeholder="Naam" style="width: 100%" required />
                    <input ng-model="newParticipantEmail" type="email" name="participant_email" maxlength="100" autocomplete="off" class="form-control" placeholder="Emailadres" style="width: 100%" required />
                    <button type="submit" ng-disabled="participantsForm.$invalid" class="btn btn-sm btn-primary" style="width: 100%; margin-top: 10px"><span class="glyphicon glyphicon-plus"></span>Toevoegen</button>
                </form>
                <h4>Deelnemers ({{event.participants.length}})</h4>
                <div class="list-group">
                    <div ng-repeat="participant in event.participants" class="repeat-animation">
                        <a class="list-group-item" style="cursor: pointer">
                            <button ng-click="DeleteParticipant($index)" class="btn btn-danger btn-sm" style="float: right; margin-top: 5px"><span class="glyphicon glyphicon-minus"></span></button>
                            <h4 class="list-group-item-heading">{{participant.name}}</h4>
                            <p class="list-group-item-text">{{participant.email}}</p>
                        </a>
                    </div>
                </div>
                <div class="tab_navigation">
                    <button type="button" class="btn btn-lg btn-primary" style="float: left" ng-click="SelectStepEvent()"><span class="glyphicon glyphicon-arrow-left"></span>Vorige</button>
                    <button type="button" class="btn btn-lg btn-primary" style="float: right" ng-click="SelectStepOutbound()" ng-disabled="!IsParticipantsStepValid()">Volgende <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>

            <!--Step 3: Outbound flight search-->
            <!--<ng-include src="'partials/newEventOutbound.html'" ng-show="CurrentStepIndex == 3"></ng-include>-->
            <div id="content_step_outbound" ng-show="CurrentStepIndex == 3">
                <p class="help-block">Voeg heenvluchten toe door beschikbare vluchten te zoeken en te selecteren.</p>
                <flight-search flightsearch="event.outboundFlightSearch" isoutbound="true" flights="outboundFlights" paxcount="event.participants.length"></flight-search>
                <div class="tab_navigation">
                    <button type="button" class="btn btn-lg btn-primary" style="float: left" ng-click="SelectStepParticipants()"><span class="glyphicon glyphicon-arrow-left"></span>Vorige</button>
                    <button type="button" class="btn btn-lg btn-primary" style="float: right" ng-click="SelectStepInbound()" ng-disabled="!IsOutboundStepValid()">Volgende <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>

            <!--Step 4: Inbound flight search-->
            <!-- <ng-include src="'partials/newEventInbound.html'" ng-show="CurrentStepIndex == 4"></ng-include>-->
            <div id="content_step_inbound" ng-show="CurrentStepIndex == 4">
                <p class="help-block">Voeg terugvluchten toe door beschikbare vluchten te zoeken en te selecteren.</p>
                <flight-search flightsearch="event.inboundFlightSearch" isoutbound="false" flights="inboundFlights" paxcount="event.participants.length"></flight-search>
                <div class="tab_navigation">
                    <button type="button" class="btn btn-lg btn-primary" style="float: left" ng-click="SelectStepOutbound()"><span class="glyphicon glyphicon-arrow-left"></span>Vorige</button>
                    <button type="button" class="btn btn-lg btn-success" style="float: right" ng-click="CreateEvent()" ng-disabled="!IsInboundStepValid()">Opslaan <span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>

            <div id="creatingEventDiv" ng-if="CurrentStepIndex == 9">
                <p class="help-block">Afspraak wordt nu aangemaakt. Even geduld aub...</p>
                <ng-include src="'partials/loader.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
