<!--<div style="background: black; opacity: 0.5; top: 0; bottom: 0; right: 0; left: 0; position: absolute; z-index: 1031" ng-if="isDataLoaded !== true">
    <img src="img/ajax-loader.gif" alt="" id="loader" />
</div>-->
<div id="wrapper">
    <h1 class="page-header">{{constants.newEventTitle}}</h1>
    <div id="content">
        <div class="btn-group btn-group-justified" style="margin-bottom: 20px" ng-show="CurrentStepIndex != 9">
            <a role="button" class="btn" ng-class="CurrentStepIndex == 1 ? 'btn-primary' : 'btn-default'" ng-click="SelectStepEvent()">Afspraak</a>
            <a role="button" class="btn" ng-class="CurrentStepIndex == 2 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() ? SelectStepParticipants() : null">Deelnemers</a>
            <a role="button" class="btn" ng-class="CurrentStepIndex == 3 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() && IsParticipantsStepValid() ? SelectStepOutbound() : null">Heen</a>
            <a role="button" class="btn" ng-class="CurrentStepIndex == 4 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() && IsParticipantsStepValid() && IsOutboundStepValid() ? SelectStepInbound() : null">Terug</a>
        </div>

        <div id="steps">
            <!--Step 1: Event-->
            <ng-include src="'partials/newEventDetails.html'" ng-show="CurrentStepIndex == 1"></ng-include>

            <!--Step 2: Participants-->
            <ng-include src="'partials/newEventParticipants.html'" ng-show="CurrentStepIndex == 2"></ng-include>

            <!--Step 3: Outbound flight search-->
            <ng-include src="'partials/newEventOutbound.html'" ng-show="CurrentStepIndex == 3"></ng-include>

            <!--Step 4: Inbound flight search-->
            <ng-include src="'partials/newEventInbound.html'" ng-show="CurrentStepIndex == 4"></ng-include>

            <div id="creatingEventDiv" ng-if="CurrentStepIndex == 9">
                <p class="help-block">Afspraak wordt nu aangemaakt. Even geduld aub...</p>
                <ng-include src="'partials/loader.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
