<img src="img/ajax-loader.gif" alt="" id="loader" ng-if="participant == null && infoMessage.length == 0 && errorMessage.length == 0" />
<div class="alert alert-success" role="alert" ng-if="infoMessage.length > 0">{{infoMessage}}</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="errorMessage.length > 0">{{errorMessage}}</div>
<div id="wrapper" ng-show="participant != null">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home" title="Home"></span></a></li>
        <li><a href="{{eventUrl}}">Afspraak</a></li>
        <li class="active">Boekingsgegevens wijzigen</li>
    </ol>
    <h1 class="page-header">Boekingsgegevens wijzigen</h1>
    <p style="margin-bottom: 20px">Deelnemer: {{::participant.name}}</p>

    <!--FirstNameInPassport-->
    <div class="form-group">
        <label class="control-label" for="firstNameInPassport" ng-show="participant.person.firstNameInPassport.length > 0">Voornaam in paspoort</label><br />
        <input type="text" class="form-control" name="firstNameInPassport" ng-model="participant.person.firstNameInPassport" focus-on="focusFirstNameInPassport" placeholder="Voornaam in paspoort" maxlength="100" autocomplete="off" style="width: 100%" />
    </div>

    <!--LastNameInPassport-->
    <div class="form-group">
        <label class="control-label" for="lastNameInPassport" ng-show="participant.person.lastNameInPassport.length > 0">Achternaam in paspoort</label><br />
        <input type="text" class="form-control" name="lastNameInPassport" ng-model="participant.person.lastNameInPassport" placeholder="Achternaam in paspoort" maxlength="100" autocomplete="off" style="width: 100%" />
    </div>

    <div class="row">
        <div class="col-xs-6" style="padding-left: 0;">
            <div class="form-group">
                <label class="control-label" for="dateOfBirth">Geboortedatum</label>
                <input type="text" id="dateOfBirth" name="dateOfBirth" class="form-control" ng-model="participant.person.dateOfBirth" data-max-date="today" bs-datepicker>
            </div>
        </div>
        <div class="col-xs-6" style="padding-left: 15px; padding-right: 0">
            <label class="control-label" for="gender">Geslacht</label><br />
            <select id="gender" class="form-control" ng-model="participant.person.gender">
                <option value="0">Man</option>
                <option value="1">Vrouw</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label" for="gender">Ruim bagage</label><br />
            <select id="Select1" class="form-control" ng-model="participant.bagage">
                <option value="">Geen</option>
                <option value="B15">15 kg</option>
                <option value="B20">20 kg</option>
            </select>
    </div>
</div>
