/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body {
    padding-top: 0px;
    background-color: #eee;
}

.container {
    width: auto;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 0 15px;*/
    padding: 10px;
    background-color: #eee;
}

    .container .text-muted {
        margin: 20px 0;
    }

.breadcrumb {
    font-weight: bold;
}

.table {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h4 {
    color: #84b70b;
}

.page-header {
    margin-top: 20px;
    /*color: #84b70b;*/
}

.tab_navigation {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.form-control {
    margin-top: 4px;
}

.control-label {
    margin-top: 4px;
    font-weight: normal;
    color: #555;
}

#cancelButton {
    color: gray;
}

div#contentFooter {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding-top: 10px;
}

.list-group-item {
    -webkit-transition: color 0.6s, background-color 0.3s;
    -moz-transition: color 0.6s, background-color 0.3s;
    -ms-transition: color 0.6s, background-color 0.3s;
    transition: color 0.6s, background-color 0.3s;
}

    .list-group-item.ng-enter {
        -webkit-animation: fadeIn 0.5s;
        -moz-animation: fadeIn 0.5s;
        -ms-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }

    .list-group-item.ng-leave {
        -webkit-animation: fadeOut 0.3s;
        -moz-animation: fadeOut 0.3s;
        -ms-animation: fadeOut 0.3s;
        animation: fadeOut 0.3s;
    }

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.glyphicon-arrow-left, .glyphicon-search, .glyphicon-plus, .glyphicon-ok {
    margin-right: 4px;
}

.loading {
    margin-right: 4px;
    background-image: url('../img/ajax-loader.gif');
}

.glyphicon-arrow-right {
    margin-left: 4px;
}

.panel-heading {
    font-weight: bold;
}

.flighttime {
    font-size: 18px;
    color: #84b70b;
}

/*
 * ngRepeat triggers three animation events: enter, leave and move.
 */
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.repeat-animation.ng-leave {
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

/* ending enter and move styling
   (this is what the element will animate from */
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
    opacity: 0;
}

    /* ending enter and move styling
   (this is what the element will animate towards */
    .repeat-animation.ng-enter.ng-enter-active,
    .repeat-animation.ng-move.ng-move-active {
        opacity: 1;
    }

/* starting leave animation */
.repeat-animation.ng-leave {
    opacity: 1;
}

    /* ending leave animation */
    .repeat-animation.ng-leave.ng-leave-active {
        opacity: 0;
    }

/* Large desktop */
@media (min-width: 1200px) {
    body {
        background: url('../img/sky.jpg') no-repeat fixed center 0;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
    input.form-control, select.form-control {
        height: 46px;
    }
}
