<loader ng-if="event == null">
    Afspraak wordt ingeladen...
</loader>
<div ng-show="event != null">
    <h1>{{::event.title}}</h1>

    <ng-include src="'partials/eventNotConfirmed.html'"></ng-include>
    <div ng-show="event.isConfirmed">
        <event-sub-title event="event"></event-sub-title>
        <event-actions event="event"></event-actions>

        <div class="row">
            <h4>Deelnemers</h4>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Naam</th>
                        <th>Email</th>
                        <th>Paspoortgegevens</th>
                        <th>Ruimbagage</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="participant in event.participants | orderBy : 'person.name'">
                        <td>{{$index+1}}</td>
                        <td><a ng-show="!participant.isOrganizer" ng-click="editparticipant(participant)" style="cursor:pointer">Wijzigen</a></td>
                        <td><a href="#/availability/{{::participant.id}}">{{participant.person.name}}</a></td>
                        <td>{{participant.person.email}}</td>
                        <td>{{::personDetails(participant)}}</td>
                        <td>{{::bagageDisplayName(participant)}}</td>
                        <td ng-class="{unconfirmed: participant.avConfirmed == false}">{{::participantStatus(participant)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <loader ng-if="isRefreshingFlights == true">
            Vluchtprijzen worden opnieuw opgehaald...
        </loader>

        <div class="row">
            <div class="col-md-6 leftcol">
                <h4>Heen: {{event.outboundFlightSearch.departureStationName}} - {{event.outboundFlightSearch.arrivalStationName}}</h4>
                <flight-search-availability event="event" flightsearch="event.outboundFlightSearch" availabilityurl="availabilityUrl"></flight-search-availability>
            </div>
            <div class="col-md-6 rightcol">
                <h4>Terug: {{event.inboundFlightSearch.departureStationName}} - {{event.inboundFlightSearch.arrivalStationName}}</h4>
                <flight-search-availability event="event" flightsearch="event.inboundFlightSearch" availabilityurl="availabilityUrl"></flight-search-availability>
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="list-group-item list-group-item-danger" ng-show="areSelectedFlightsInvalid()">
                De geprikte terugvlucht ligt voor de geprikte heenvlucht. Deze combinatie kunt u niet boeken.
            </div>
            <div ng-show="areSelectedFlightsValid()">
                <div ng-show="event.pnr == null && isBookingWebsiteOpened !== true">
                    <h4>Boeking maken</h4>
                    <info>Ga naar de transavia.com website om de vluchten te boeken. De website wordt in een nieuw venster geopend, zodat u eenvoudig de passagiersgegevens van dit venster kunt overnemen.</info>
                    <button type="button" class="btn btn-primary" style="width: 100%" ng-click="OpenDeepLink()"><span class="glyphicon glyphicon-plane" style="margin-right: 4px"></span>Boeken op transavia.com</button>
                </div>
                <div ng-show="event.pnr == null && isBookingWebsiteOpened === true">
                    <h4>Boeking bevestigen</h4>
                    <info>Wanneer u de boeking heeft afgerond krijgt u van transavia een boekingsnummer. Vul hieronder het boekingsnummer in om de afspraak af te ronden en een mail te sturen naar alle deelnemers.</info>
                    <form name="bookingForm" novalidate>
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <input type="text" class="form-control" name="pnr" ng-model="pnr" focus-on="focusPnr" placeholder="Boekingsnummer" maxlength="6" autocomplete="off" style="width: 100%" required />
                        </div>
                    </form>
                    <button type="button" class="btn btn-lg btn-primary" ng-click="ConfirmBookingCreated()" ng-disabled="bookingForm.$invalid" style="width: 100%">Boeking is voltooid</button>
                </div>
                <div class="repeat-animation" ng-if="event.pnr != null">
                    <h4>Boekingsnummer</h4>
                    <div class="list-group">
                        <div class="list-group-item list-group-item-success">
                            <p style="text-align: center; font-size: 24px; font-weight: bold">{{event.pnr | uppercase}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit participant dialog -->
<script type="text/ng-template" id="editParticipantContent.html">
    <div class="modal-header">
        <h4 class="modal-title">Deelnemer wijzigen</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="participant_name">Naam</label><br />
            <input ng-model="data.name" focus-on="focusParticipantName" type="text" name="participant_name" id="Text1" maxlength="50" autocomplete="off" class="form-control" placeholder="Naam" style="width: 100%" required />
            <label class="control-label" for="participant_email">Email</label><br />
            <input ng-model="data.email" type="email" name="participant_email" maxlength="100" autocomplete="off" class="form-control" placeholder="Emailadres" style="width: 100%" required />
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="sendInvitation" style="margin-right: 10px">Uitnodiging versturen                        
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Opslaan</button>
        <button class="btn btn-warning" ng-click="cancel()">Annuleren</button>
    </div>
</script>
