<p>De vluchtprikker van transavia.com is de ideale manier om samen met collega's, vrienden of familie de beste vlucht te kiezen. Het gebruik van Vluchtprikker is gratis.</p>
<h4>Reis plannen</h4>
<p>Het plannen van een reis kan een hele klus zijn. De vluchtprikker van transavia.com maakt het makkelijk! In een paar eenvoudige stappen stelt u heen- en terugvluchten voor en nodigt u deelnemers uit.</p>
<h4>Reacties ontvangen</h4>
<p>Iedere deelnemer ontvangt een e-mail met daarin een persoonlijke link waarmee ze hun beschikbaarheid kunnen opgeven. Als een deelnemer heeft gereageerd, ontvangt u direct een e-mail. Zo blijft u altijd op de hoogte van de voortgang.</p>
<h4>Vlucht boeken</h4>
<p>Zodra iedereen heeft gereageerd of er voldoende reacties zijn om een keuze te maken, selecteert u de beste vlucht om te boeken. Alle deelnemers ontvangen een bevestiging van de geboekte vlucht.</p>
<button type="button" class="btn btn-lg btn-primary" style="width: 100%" ng-click="NewEvent()">Plan een reis</button>
