<div class="alert alert-success ontop" role="alert" ng-if="infoMessage.length > 0">{{infoMessage}}</div>
<div id="wrapper">
    <h1>{{constants.newEventTitle}}</h1>
    <div id="content">
        <div class="btn-group btn-group-justified" style="margin-bottom: 20px" ng-show="CurrentStepIndex != 9">
            <a role="button" class="sectionButton btn" ng-class="CurrentStepIndex == 1 ? 'btn-primary' : 'btn-default'" ng-click="SelectStepEvent()">Afspraak</a>
            <a role="button" class="sectionButton btn" ng-class="CurrentStepIndex == 2 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() ? SelectStepParticipants() : null">Deelnemers</a>
            <a role="button" class="sectionButton btn" ng-class="CurrentStepIndex == 3 ? 'btn-primary' : 'btn-default'" ng-click="IsEventStepValid() && IsParticipantsStepValid() ? SelectStepOutbound() : null">Vluchten</a>
        </div>

        <div id="steps">
            <!--Step 1: Event-->
            <div ng-show="CurrentStepIndex == 1">
                <a href="" ng-click="EnterTestEvent()" style="font-size:xx-small">Test</a>
                <form name="eventForm" novalidate ng-submit="SelectStepParticipants()">
                    <!--Title-->
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <input type="text" class="form-control" name="title" ng-model="event.title" focus-on="focusEventTitle" required autofocus placeholder="Titel (bijv. Weekendje Barcelona)" maxlength="50" autocomplete="off" style="width: 100%" />
                        <p class="help-block" ng-if="eventForm.title.$error.required">De titel is verplicht</p>
                    </div>
                    <!--Description-->
                    <textarea class="form-control" name="description" ng-model="event.description" rows="4" placeholder="Omschrijving" style="width: 100%"></textarea>
                    <h4>Organisator</h4>
                    <!--Naam-->
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <input type="text" class="form-control" name="name" ng-model="event.organizerName" required autofocus placeholder="Uw naam" style="width: 100%" maxlength="50" />
                        <p class="help-block" ng-if="eventForm.name.$error.required">De organisator's naam is verplicht</p>
                    </div>
                    <!--Email-->
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <input type="text" class="form-control" name="email" ng-model="event.organizerEmail" required autofocus placeholder="Uw emailadres" style="width: 100%" maxlength="100" autocomplete="off" />
                        <p class="help-block" ng-if="eventForm.email.$error.required">De organisator's email adres is verplicht</p>
                        <p class="help-block" ng-if="eventForm.email.$error.email">De organisator's email adres is onjuist</p>
                    </div>

                    <div class="form-group" ng-show="event.id == ''">
                        <input type="checkbox" ng-model="addParticipant" style="margin-right: 10px">Ik ga zelf mee
                    </div>

                    <!--Buttons-->
                    <div class="tab_navigation">
                        <button type="button" class="btn btn-lg btn-link" style="float: left" id="cancelButton" ng-click="CancelNewEvent()">Annuleren</button>
                        <button type="submit" class="btn btn-lg btn-primary" style="float: right" ng-disabled="eventForm.$invalid">Volgende <span class="glyphicon glyphicon-arrow-right" style="margin-left: 4px"></span></button>
                    </div>
                </form>
            </div>

            <!--Step 2: Participants-->
            <div ng-show="CurrentStepIndex == 2">
                <info>Vul naam en email adres in en druk op Toevoegen om deelnemers toe te voegen. Maximaal 9 deelnemers is toegestaan.</info>
                <loader ng-if="isWaitingForNewEvent == true">Even geduld aub...</loader>
                <form ng-submit="AddParticipant()" ng-show="event.participants.length < 9" name="participantsForm" novalidate>
                    <div class="row" style="padding-left:0;padding-right:0">
                        <div class="col-sm-10 leftcol" style="padding-left:0">
                            <input ng-model="newParticipantName" focus-on="focusParticipantName" type="text" name="participant_name" id="participant_name" maxlength="50" autocomplete="off" class="form-control" placeholder="Naam" style="width: 100%" required />
                            <input ng-model="newParticipantEmail" type="email" name="participant_email" maxlength="100" autocomplete="off" class="form-control" placeholder="Emailadres" style="width: 100%" required />
                        </div>
                        <div class="col-sm-2 rightcol" style="padding-left:0;padding-right:0">
                            <button type="submit" class="btn btn-primary addParticipantButton" style="width: 100%; margin-top: 4px"><span class="glyphicon glyphicon-plus"></span>Toevoegen</button>
                        </div>
                    </div>
                </form><br/>
                <h4>Deelnemers ({{event.participants.length}})</h4>
                <div class="list-group">
                    <div ng-repeat="participant in event.participants" class="repeat-animation">
                        <a class="list-group-item" style="cursor: pointer;margin-bottom:1px">
                            <button ng-click="DeleteParticipant($index)" class="btn btn-danger btn-sm" style="float: right; margin-top: 5px" title="Deelnemer verwijderen"><span class="glyphicon glyphicon-minus"></span></button>
                            <h4 class="list-group-item-heading">{{participant.person.name}}</h4>
                            <p class="list-group-item-text">{{participant.person.email}}</p>
                        </a>
                    </div>
                </div>
                <div class="tab_navigation">
                    <button type="button" class="btn btn-lg btn-primary" style="float: left" ng-click="SelectStepEvent()"><span class="glyphicon glyphicon-arrow-left"></span>Vorige</button>
                    <button type="button" class="btn btn-lg btn-primary" style="float: right" ng-click="SelectStepOutbound()" ng-disabled="!IsParticipantsStepValid()">Volgende <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>

            <!--Step 3: Vluchten-->
            <div ng-show="CurrentStepIndex == 3">
                <info>Kies op dit scherm je luchthaven van vertrek en de bestemming. Geef daarna aan in welke periode je vluchten wilt zoeken naar je gekozen bestemming.
Je kunt ook aangeven als je alleen op specifieke weekdagen wilt vliegen. Bijvoorbeeld alleen in het weekend. Zet voorkeurs vertrekdagen naar keus, aan of uit door ze groen te maken.
                    Als laatste kun je de maximale prijs per persoon aangeven. De vluchtprikker gaat zoeken naar alle beschikbare vluchten binnen de opgeven data, op de aangeven dagen tot de opgegeven maximale prijs.
                </info>
                
                <flight-search event="event" outbound-flights="outboundFlights" inbound-flights="inboundFlights" departurestations="origins" arrivalstations="destinations" routes="routes"></flight-search>
                <div class="tab_navigation">
                    <button type="button" class="btn btn-lg btn-primary" style="float: left" ng-click="SelectStepParticipants()"><span class="glyphicon glyphicon-arrow-left"></span>Vorige</button>
                    <button type="button" class="btn btn-lg btn-success" style="float: right" ng-click="CompleteEvent()" ng-disabled="!IsOutboundStepValid() || !IsInboundStepValid()">Opslaan <span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>

            <loader ng-if="CurrentStepIndex == 9">Afspraak wordt nu aangemaakt. Even geduld aub...</loader>
        </div>
    </div>
</div>
