<loader ng-if="event == null">
    Afspraak wordt ingeladen...
</loader>
<div ng-show="event != null">
    <h1>{{::event.title}}</h1>

    <div ng-show="hasSent == false">
        <p>Hier kunt u een e-mail versturen aan deelnemers om hen te informeren over deze reis.</p>
        <h4>Filter</h4>
        <div>
            <p ng-click="select(0)" style="cursor:pointer">
                <input type="radio" ng-checked="filterIndex == 0" style="margin-right: 10px">Alle deelnemers
            </p>
            <p ng-click="select(1)" style="cursor:pointer">
                <input type="radio" ng-checked="filterIndex == 1" style="margin-right: 10px">Alle deelnemers die hun beschikbaarheid hebben bevestigd
            </p>
            <p ng-click="select(2)" style="cursor:pointer">
                <input type="radio" ng-checked="filterIndex == 2" style="margin-right: 10px">Alle deelnemers die hun beschikbaarheid nog niet hebben bevestigd
            </p>
        </div>
        <h4>Deelnemers</h4>
        <div class="form-group">
            <p ng-repeat="p in event.participants">
                <input type="checkbox" ng-model="p.checked" style="margin-right: 10px">{{p.person.name}}
            </p>
        </div>
        <div style="margin-top:20px">
            <button class="btn btn-primary" ng-show="hasSent == false" ng-click="send()" style="margin-right:4px">Versturen</button>
            <a href="" ng-show="hasSent == false" ng-click="cancel()" style="color: gray">Annuleren</a>
        </div>
    </div>

    <div ng-show="hasSent == true">
        <p>De herinneringen zijn verstuurd naar de geselecteerde deelnemers!</p>
        <br/>
        <a href="" ng-click="close()" style="font-weight: bold; cursor: pointer"><span class="glyphicon glyphicon-step-backward" style="margin-right: 4px"></span>Terug naar organisator scherm</a>
    </div>
</div>
