<h4>Opties</h4>
<div class="row" ng-show="showParticipantActions()" style="margin-bottom:10px">
    <div style="float:left;width:300px">
    <a href="#/availability/{{organizerId()}}" ng-click="" style="margin-right: 20px; font-weight: bold"><span class="glyphicon glyphicon-ok" style="margin-right: 4px"></span>Mijn beschikbaarheid wijzigen</a></div>
</div>
<div class="row" ng-show="event.pnr == null" style="margin-bottom:10px">
    <div style="float:left;width:300px"><a href="" ng-show="showSendReminder()" ng-click="sendReminder()" style="margin-right: 20px; font-weight: bold"><span class="glyphicon glyphicon-envelope" style="margin-right: 4px"></span>Herinnering sturen naar deelnemers</a></div>
</div>

<info ng-show="hilightSelectFlight()">Alle deelnemers hebben hun beschikbaarheid ingevuld. U kunt nu de vluchten prikken!</info>
