<div class="repeat-animation" ng-if="flightsearch.selectedFlight != null">
    <div class="list-group" style="margin-bottom: 4px">
        <div class="list-group-item list-group-item-success">
            <p>Geprikte vlucht: <b>{{flightsearch.selectedFlight.carrierCode}} {{flightsearch.selectedFlight.flightNumber}}</b> op <b>{{flightsearch.selectedFlight.departureDate | date : 'EEE dd-MMM'}}</b></p>
            <div class="row">
                <div class="col-xs-4">Vertrek: {{flightsearch.selectedFlight.std | date : 'HH:mm'}}</div>
                <div class="col-xs-4">Aankomst: {{flightsearch.selectedFlight.sta | date : 'HH:mm'}}</div>
                <div class="col-xs-4"><span>Prijs: {{flightsearch.selectedFlight.price}} EUR</span></div>
            </div>
        </div>
    </div>
    <span ng-if="event.pnr == null"><a style="cursor: pointer" ng-click="SelectFlight(flightsearch, null)">Andere vlucht prikken</a></span>
</div>

<div class="list-group" ng-show="flightsearch.selectedFlight == null">
    <div class="panel panel-default departureDayDiv" ng-repeat="(key, value) in flightsearch.flights | groupBy: 'departureDate'">
        <div class="panel-heading departureDateHeader">{{ key | translateddate }}</div>
        <div class="panel-body" style="padding: 0">
            <table class="table table-condensed table-responsive">
                <tbody>
                    <tr ng-repeat="flight in value">
                        <td>
                            <table class="table" ng-class="{disabled: flight.enabled === false }">
                                <tr>
                                    <td style="padding-right: 20px; border-top: 0;">
                                        <button type="button" class="btn" ng-show="flight.enabled === true" ng-click="SelectFlight(flightsearch, flight)" ng-class="flightsearch.selectedFlight != null && flight.id == flightsearch.selectedFlight.id  ? 'btn-success' : 'btn-default'" title="Prik deze vlucht">
                                            <span class="glyphicon glyphicon-pushpin"></span>
                                        </button>
                                    </td>
                                    <td style="border-top: 0; padding: 0;">
                                        <table class="table" style="width: 230px; background-color: transparent">
                                            <thead>
                                                <tr>
                                                    <th>Vertrek</th>
                                                    <th>Aankomst</th>
                                                    <th>Prijs</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{flight.std | date : 'HH:mm'}}</td>
                                                    <td>{{flight.sta | date : 'HH:mm'}}</td>
                                                    <td>{{flight.price}} EUR</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width: 100%; padding-top: 10px; border-top: 0; padding-left: 20px;">
                                        <div ng-show="flight.enabled === false" style="float: right; text-align: right;">
                                            <span style="color: red">Niet meer beschikbaar</span>
                                        </div>
                                        <div class="progress" ng-show="flight.enabled === true">
                                            <div style="float: left; width: {{flight.green}}%; background-color: green">&nbsp;</div>
                                            <div style="float: left; width: {{flight.orange}}%; background-color: orange">&nbsp;</div>
                                            <div style="float: left; width: {{flight.red}}%; background-color: red">&nbsp;</div>
                                        </div>
                                        <div ng-show="flight.enabled === true" style="margin-top: 4px; float: right; text-align: right">
                                            <a ng-if="flight.participantsVisible !== true" ng-click="flight.participantsVisible = true" style="font-size: x-small; cursor: pointer">Toon deelnemers</a>
                                            <a ng-if="flight.participantsVisible === true" ng-click="flight.participantsVisible = false" style="font-size: x-small; cursor: pointer">Verberg deelnemers</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <participants flight="flight" showparticipantlink="true"></participants>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
