<div class="repeat-animation" ng-if="flightsearch.selectedFlight != null">
    <div class="list-group" style="margin-bottom: 4px">
        <div class="list-group-item list-group-item-success">
            <p>Geprikte vlucht: <b>{{flightsearch.selectedFlight.carrierCode}} {{flightsearch.selectedFlight.flightNumber}}</b> op <b>{{flightsearch.selectedFlight.departureDate | date : 'EEE dd-MMM'}}</b></p>
            <div class="row">
                <div class="col-xs-4">Vertrek: {{flightsearch.selectedFlight.std | date : 'HH:mm'}}</div>
                <div class="col-xs-4">Aankomst: {{flightsearch.selectedFlight.sta | date : 'HH:mm'}}</div>
                <div class="col-xs-4"><span>Prijs: {{flightsearch.selectedFlight.price}} EUR</span></div>
            </div>
        </div>
    </div>
    <span ng-if="event.pnr == null"><a style="cursor: pointer" ng-click="SelectFlight(flightsearch, null)">Andere vlucht prikken</a></span>
</div>

<div class="list-group" ng-show="flightsearch.selectedFlight == null">
    <div class="panel panel-default departureDayDiv" ng-repeat="(key, value) in flightsearch.flights | groupBy: 'departureDate'">
        <div class="panel-heading departureDateHeader">{{ key | date : 'EEE dd-MMM' }}</div>
        <div class="panel-body" style="padding: 0">
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="flight in value">
                        <td>
                            <table class="table">
                                <tr>
                                    <td style="padding-right: 20px; border-top: 0;" ng-show="event.isPushpinActive === true">
                                        <button type="button" class="btn" ng-click="SelectFlight(flightsearch, flight)" ng-class="flightsearch.selectedFlight != null && flight.id == flightsearch.selectedFlight.id  ? 'btn-success' : 'btn-default'" title="Prik deze vlucht">
                                            <span class="glyphicon glyphicon-pushpin"></span>
                                        </button>
                                    </td>
                                    <td style="border-top: 0; padding: 0;">
                                        <table class="table" style="width: 230px;">
                                            <thead>
                                                <tr>
                                                    <th>Vertrek</th>
                                                    <th>Aankomst</th>
                                                    <th>Prijs</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{flight.std | date : 'HH:mm'}}</td>
                                                    <td>{{flight.sta | date : 'HH:mm'}}</td>
                                                    <td>{{flight.price}} EUR</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width: 100%; padding-top: 10px; border-top: 0; padding-left: 20px">
                                        <div class="progress" style="width: 100%">
                                            <div class="progress-bar" ng-class="flight.perc >= 90 ? 'progress-bar-success' : flight.perc >= 50 ? 'progress-bar-warning' : 'progress-bar-danger'" role="progressbar" aria-valuenow="{{flight.perc}}" aria-valuemin="0" aria-valuemax="100" style="width: {{flight.perc}}%;">
                                                {{flight.perc}}%
                                            </div>
                                        </div>
                                        <div style="margin-top: 4px; float: right; font-size: x-small; cursor: pointer">
                                            <a ng-if="flight.participantsVisible !== true" ng-click="flight.participantsVisible = true">Toon deelnemers</a>
                                            <a ng-if="flight.participantsVisible === true" ng-click="flight.participantsVisible = false">Verberg deelnemers</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <participants flight="flight"></participants>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
