<div class="panel-heading" style="cursor: pointer">{{ key | date : 'EEE dd-MMM' }}</div>
<div class="panel-body repeat-animation" style="padding: 0" >
    <table id="outboundflights-table" class="table table-condensed table-hover">
        <tbody>
            <tr ng-repeat="flight in value" ng-click="toggleIsSelected(flight);" ng-class="{success: flight.IsSelected === true }" style="cursor: pointer">
                <td>
                    <h4>{{flight.carrierCode}}{{flight.flightNumber}} {{flight.price}} EUR</h4>
                    <p>Vertrek: {{flight.std | date : 'HH:mm'}}   Aankomst: {{flight.sta | date : 'HH:mm'}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

