<div class="row" style="text-align: right; margin-bottom: 4px">
    <span class="glyphicon glyphicon-ok" style="margin-right: 4px"></span>Ja
                <span class="glyphicon glyphicon-ok" style="margin-left: 10px"></span><span class="glyphicon glyphicon-minus" style="margin-left: -8px; margin-right: 4px; font-size: xx-small"></span>Liever niet
                <span class="glyphicon glyphicon-remove" style="margin-left: 10px; margin-right: 4px"></span>Nee
                <span class="glyphicon glyphicon-comment" style="margin-left: 10px; margin-right: 4px"></span>Opmerking
</div>
