<div id="content_step_inbound" ng-show="CurrentStepIndex == 4">
    <div class="alert alert-warning" role="alert" style="color: black">Voeg terugvluchten toe door beschikbare vluchten te zoeken en te selecteren.</div>
    <form name="inboundFlightsForm" novalidate>
        <div class="row" id="inboundOriginDestination">
            <div class="col-xs-6" style="padding-left: 0;">
                <label class="control-label" for="inbound_departurestation">Vertrek</label>
                <select id="inbound_departurestation" class="form-control" ng-model="event.inboundFlightSearch.departureStation" ng-required="true">
                    <option ng-repeat="station in departureStations" value="{{station.code}}">{{station.name}}</option>
                </select>
            </div>
            <div class="col-xs-6" style="padding-right: 0">
                <label class="control-label" for="inbound_arrivalstation">Aankomst</label>
                <select id="inbound_arrivalstation" class="form-control" ng-model="event.inboundFlightSearch.arrivalStation" ng-required="true">
                    <option ng-repeat="station in homeStations" value="{{station.code}}">{{station.name}}</option>
                </select>
            </div>
        </div>

        <div class="row" id="inboundBeginEndDate">
            <div class="col-xs-6" style="padding-left: 0;">
                <label class="control-label" for="inbound_begindate">Begin datum</label>
                <input type="text" id="inbound_begindate" class="form-control" ng-model="event.inboundFlightSearch.beginDate" data-min-date="today" data-max-date="{{event.inboundFlightSearch.endDate}}" name="inbound_begindate" bs-datepicker ng-required="true" placeholder="Begin">
            </div>
            <div class="col-xs-6" style="padding-right: 0">
                <label class="control-label" for="inbound_enddate">Eind datum (max 30 dagen)</label>
                <input type="text" id="inbound_enddate" class="form-control" ng-model="event.inboundFlightSearch.endDate" data-min-date="{{event.inboundFlightSearch.beginDate}}" name="inbound_enddate" bs-datepicker ng-required="true" placeholder="Eind">
            </div>
        </div>

        <button type="button" class="btn btn-sm btn-primary" style="width: 100%; margin-top: 10px" ng-click="SearchInboundFlights()" ng-disabled="isLoading === true">
            <span class="glyphicon glyphicon-search"></span>Zoek vluchten
        </button>
    </form>

    <div ng-if="isLoading === true">
        <p class="help-block">Vlucht informatie wordt opgehaald...</p>
        <ng-include src="'partials/loader.html'"></ng-include>
    </div>

    <div ng-show="inboundFlights != null && isLoading !== true">
        <h4>Beschikbare vluchten</h4>
        <div class="list-group" ng-if="isLoading !== true">
            <div>
                <button type="button" class="btn btn-default btn-xs" ng-click="selectAllFlights(inboundFlights, true)">
                    <span class="glyphicon glyphicon-check"></span>
                    Alles selecteren
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="selectAllFlights(inboundFlights, false)">
                    <span class="glyphicon glyphicon-unchecked"></span>
                    Alles deselecteren
                </button>
            </div>

            <div class="panel panel-default" ng-repeat="(key, value) in inboundFlights | groupBy: 'departureDate'">
                <ng-include src="'partials/flightFromApi.html'"></ng-include>
            </div>
        </div>
    </div>

    <div class="tab_navigation">
        <button type="button" class="btn btn-lg btn-primary" style="float: left" ng-click="SelectStepOutbound()"><span class="glyphicon glyphicon-arrow-left"></span>Vorige</button>
        <button type="button" class="btn btn-lg btn-success" style="float: right" ng-click="CreateEvent()" ng-disabled="!IsInboundStepValid()">Opslaan <span class="glyphicon glyphicon-ok"></span></button>
    </div>
</div>
